<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Educación 1</h2>
          -
          <h3>(years)</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            iusto, explicabo, doloremque voluptatibus facilis nam fuga repudiandae
            temporibus, porro inventore et numquam officiis neque. A, doloribus
            corporis. Repellendus, perspiciatis soluta.
          </p>
        </li>
        <li>
          <h2>Educación 2</h2>
          -
          <h3>(years)</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            iusto, explicabo, doloremque voluptatibus facilis nam fuga repudiandae
            temporibus, porro inventore et numquam officiis neque. A, doloribus
            corporis. Repellendus, perspiciatis soluta.
          </p>
        </li>
      </ul>
    </div>
  </div>
  