<div class="row">
    <h1>Mis proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 title">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatem illum id ullam, beatae distinctio totam a molestias suscipit deleniti, temporibus modi sint commodi tempore eaque aperiam, perspiciatis quae dignissimos?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-2 photo">
            <img src="../../../assets/hello-world-c.png " class="class=img-fluid" id="hello-world">
        </div>
    </div>
</div>