<div class="row">
    <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'HTML'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="70"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'CSS'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="60"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Javascript'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="80"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'C'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="90"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Ruby'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="70"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'MySQL'"
      [showSubtitle]="false"
      [showInnerStroke]="false"
      [percent]="70"
      [radius]="60"
      [space]="-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="'#004581'"
      [animation]="true"
      [animateTitle]="false"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [startFromZero]="false"
      [lazy]="true"
    ></circle-progress>
  </div>
</div>
